.footer {
  padding: 7.5rem 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 8rem;
  align-items: center;
}

.footer-text {
  font-size: 1.2rem;
  line-height: 1.33;
  color: #a3a3a3;
}

.footer-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.footer-list li {
  flex: 1;
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 1.1;
  margin-bottom: 1rem;
}

@media (width <= 800px) {
  .footer {
    grid-template-columns: 1fr;
    gap: 4rem;
    text-align: center;
  }
}
