body {
  font-family: "Fira Sans", Arial, sans-serif;
  margin: 0px;
  padding: 0;
  color: #141414;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  display: inline-block;
  transition: transform 0.3s ease;
  color: #70da1c;
}

a:hover {
  transform: scale(1.05);
}

a:visited {
  color: #51a30d;
}

.container {
  max-width: 75rem;
  padding: 2rem 1rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 6.25rem;
}

.subtitle {
  font-size: 8rem;
  line-height: 1;
  text-transform: uppercase;
  word-break: break-all;
  max-width: 5ch;
}

@media (width <= 800px) {
  .subtitle {
    font-size: 3rem;
    text-transform: capitalize;
    max-width: initial !important;
  }
}
