.header {
  max-width: 75rem;
  padding: 2rem 1rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.header-menu a {
  font-size: 1.125rem;
  line-break: 1.3;
  padding: 1rem;
  text-decoration: none;
  color: #141414;
  display: block;
}

@media (width <= 800px) {
  .header {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .header a {
    background-color: #f5f5f5;
    border-radius: 0.5rem;
  }
}

@media (width <= 500px) {
  .header-menu {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .header-menu li {
    width: 100%;
    text-align: center;
  }
  .header-menu a {
    font-size: 0.875rem;
    line-break: 1.1;
    padding: 1rem;
  }
}
