.skills {
  background: #141414;
  color: #fff;
}

.skills-container {
  padding: 7.5rem 1rem;
}

.skills-text {
  font-size: 1.5rem;
  line-height: 1.33;
  margin-bottom: 3rem;
  color: #a3a3a3;
}

.skills-text strong {
  color: #ffffff;
}

.tech-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 4rem;
}

.tech {
  height: 40px;
  width: 40px;
  margin: 5px 10px;
  display: inline-block;
  transition: transform 0.3s;
}

.tech:hover {
  transform: scale(1.2);
}

.course-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 3rem;
}

.course-item {
  flex: 1 1 calc(33.333% - 1rem);
  background: #000;
  padding: 1rem;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
}

.course-type {
  text-transform: uppercase;
  color: #a3a3a3;
  margin-bottom: 1rem;
}

.course-title {
  flex: 1;
  font-size: 1.125rem;
  line-height: 1.4;
  margin-bottom: 3rem;
  position: relative;
}

.course-title::before {
  content: "";
  position: absolute;
  display: block;
  width: 0.25rem;
  height: 1rem;
  background: linear-gradient(#b6f829, #67dd0a);
  left: -1.25rem;
}

.skills-bonus {
  margin-top: 3rem;
}

.skills-bonus h3 {
  font-size: 0.875rem;
  line-height: 1.4;
  color: #8f8f8f;
  text-transform: uppercase;
  position: relative;
}

.skills-bonus h3::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background: url("../img/idiomas.svg") no-repeat center center;
  position: absolute;
  left: -2rem;
  top: -0.25rem;
}

.skills-bonus span {
  color: #8f8f8f;
}

.languages-list {
  margin-top: 1rem;
}

.languages-list li {
  font-size: 1.125rem;
  line-height: 1.4;
}

@media (width <= 800px) {
  .skills-container {
    grid-template-columns: 1fr;
    padding: 3rem 1rem;
    gap: 2rem;
  }
  .skills-text {
    font-size: 1.25rem;
  }
  .tech-list {
    display: none;
  }
  .skills-bonus h3::before {
    position: initial;
    margin-bottom: 1rem;
  }
}
